@font-face {
    font-family: AnonymousPro;
    src: url(Fonts/AnonymousPro-1_002/AnonymousPro-1.002.001/Anonymous\ Pro\ B.woff);
}

body {
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    font-family: AnonymousPro;
    font-size: 37px;
    color: white;
    background-color: rgb(27, 27, 27);
    margin: 0;
    padding: 8px 220px;
    align-items: center;
    
}

.header_links {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    gap: 24px;
    margin: 0;
    color: white;
}

.logo {
    
    height: 43px;
    width: 23px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.full_logo{
    gap: 15px;
    display:flex;
    margin-right: auto;
    align-items: center;

}

.header.text_logo {
    padding-left: 0;
}
