@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.intro {
    background-color: rgb(27, 27, 27);
    font-family: 'Roboto', sans-serif;
    padding: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.hello {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.imagetop {
    display: flex;
    width: 350px;
    height: 350px;
}

.introduction {
    opacity: 0.7;
    margin: 0;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 18px;
}

.top_text {
    margin-right: 50px;
    flex-basis: 400px;
}
    